/* Base */

:root {
  /* DocSearch */
  --docsearch-primary-color: $dt('color.primary.500') !important;
}

.dark:root {
  color-scheme: dark;
  /* DocSearch */
  --docsearch-primary-color: $dt('color.primary.500') !important;
  --docsearch-text-color: rgb(245, 246, 247);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: rgb(21, 23, 42);
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgb(44, 46, 64),
    0 3px 8px 0 rgb(0, 3, 9);
  --docsearch-searchbox-background: rgb(9, 10, 17);
  --docsearch-searchbox-focus-background: #000;
  --docsearch-hit-color: rgb(190, 195, 201);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: rgb(9, 10, 17);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    rgb(86, 88, 114) 0%,
    rgb(49, 53, 91) 100%
  );
  --docsearch-key-shadow: inset 0 -2px 0 0 rgb(40, 45, 85),
    inset 0 0 1px 1px rgb(81, 87, 125), 0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-footer-background: rgb(30, 33, 54);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  --docsearch-logo-color: rgb(255, 255, 255);
  --docsearch-muted-color: rgb(127, 132, 151);
}
.DocSearch-Input:focus {
  box-shadow: none !important;
}

body {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dt('docus.body.backgroundColor');
  color: $dt('docus.body.color');
  font-family: $dt('docus.body.fontFamily');
  min-width: $dt('size.xs');
}

.docus-scrollbars {
  & ::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    background: transparent;
  }

  & ::-webkit-scrollbar-track {
    background: $dt('color.gray.100');
  }

  & ::-webkit-scrollbar-thumb {
    border-radius: 0.6em;
    background: $dt('color.gray.300');
    &:hover {
      background: $dt('color.gray.400');
    }
    &:active {
      background: $dt('color.gray.500');
    }
  }

  &.dark {
    & ::-webkit-scrollbar-track {
      background: $dt('color.gray.800');
    }

    & ::-webkit-scrollbar-thumb {
      background: $dt('color.gray.700');
      &:hover {
        background: $dt('color.gray.600');
      }
      &:active {
        background: $dt('color.gray.500');
      }
    }
  }
}

.card-grid .layout .card:nth-child(1) > svg {
  width: var(--space-7);
  height: var(--space-7);
}

.card-grid .layout .card:nth-child(2) > svg {
  width: var(--space-8);
  height: var(--space-8);
}

.card-grid .layout .card:nth-child(6) > svg {
  width: var(--space-5);
  height: var(--space-5);
}

.block-hero .layout .support .code-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--space-80);
  height: var(--space-72);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--elements-border-secondary-static);
  border-radius: var(--radii-lg);
  background: var(--elements-surface-background-base);

  @media (min-width: 640px) {
    max-width: var(--size-2xl);
  }
}

.extra ul li .list-icon.none {
  display: none;
}

.code-group .prose-code.highlight-bash code .line::before {
  color: var(--color-primary-600) !important;
}
